<div id="demo">
  <h2>DEMO</h2>

  <p>Plague.  Death.  The world has entered a zombie apocalypse and you are one of the fortunate(?) few who have survived.  Though in deep despair, you have not yet given up.  Your only hope is to find a cure to this zombie plague.  The fate of humanity rests in your hands…</p>

  <h2>About the Game:</h2>

  <p>Zombify is an app that manages a game you play in real life with people around the city. It is run automatically by scheduled background tasks so there is a new game running every day. 
  You can sign up at any point throughout the day. When the game is active, you can view your feed, which will display only messages that are relevant to you. A random 25% of users will start the game as zombies.</p> 

  <h2>Walkthrough:</h2>

  <iframe width="853" height="480" src="//www.youtube.com/embed/leEDRWrdeSI" frameborder="0" allowfullscreen></iframe>


  <h2>Human Instructions:</h2>

  <p>Find clues that will lead you to curing this dreaded disease.  You will receive messages from SURVIVE HQ, the last hub of human resistance, that will provide you with relevant intelligence information.  Follow their commands, and you might just survive.  Should you find the cure, you will have the ability to convert zombies back to humans.  Make sure to avoid zombies at all cost.  If you don’t, you will join the ranks of the undead.</p>  
  <p>Once (if) the cure has been found and you want to convert a zombie back to the living, you will need to tag the zombie in real life. The zombie must stop, and let you submit their code.</p>  

  <p>If a zombie taps you before the cure is found (if it ever is!), you must stop and let him/her submit your code to the app. You will then find out if you avoided infection.  If you were not infected, you can run away and carry on your business.  If you were infected, you must move the zombie bandana to your head and join the ranks of the undead.  Your user interface will change to the zombie interface and you will receive further instructions there.</p>

  <h2>Zombie Instructions:</h2>

  <p>Brainnnnnsssss...You just can’t seem to get enough of them.  Your job is simple.  Find and eat humans (converting them to zombies in the process).  You definitely don’t want the humans to find a cure to the zombie disease.</p>

  <p>To zombify a human, you need to tag them.  The human then must stop and let you submit their code the web app.  Forces of chance will determine if you successfully infected the human.  If successfully zombified, Central Command will record said zombification.  The human will then put on the zombie bandana and they will join the undead hordes.</p>  

  <h2>Rules:</h2>

  <ul>
    <li>Players wear a black bandana in real life, to visually indicate that they are playing the game. Humans wear on your arms/legs, Zombies wear on your head. (Custom as per the Humans vs. Zombies often game played on college campuses.)</li>
    <li>When the game starts out, Zombies are receiving messages from their queen using hivemind, seeking to add to their horde. Humans are picking up messages from radio communications from Central Command. Humans know that zombies are out there hunting them.</li>
    <li>The game sends out automated messages to the users' feed, based on how long the game has been running, the current game state and the actions users have taken. Highly important messages will be additionally texted to the users' phones.</li>
    <li>If an opponent taps you to do battle, you must stop and allow him or her enter your code into their phone for battle.</li>
  </ul>

</div>